---
import Layout from '../../layouts/Layout.astro'

---

<Layout>
  <main class="lg:col-span-9 col-span-12">
    <div class="relative isolate overflow-hidden pb-24 sm:pb-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-3xl lg:mx-0">
          <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Build apps without thinking about operations or infrastructure.</h2>
          <p class="mt-6 text-lg leading-8 text-gray-300"></p>
        </div>
        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8">
          <a href="/docs/introduction/" class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-1 ring-inset ring-white/10">
            <div class="text-base leading-7">
              <h3 class="font-semibold text-white">Get Started on Noop</h3>
              <p class="mt-2 text-gray-300">Learn about what Noop is and how to get an app up and running in minutes.</p>
            </div>
          </a>
          <a href="https://github.com/orgs/noop-inc/discussions" class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-1 ring-inset ring-white/10">
            <div class="text-base leading-7">
              <h3 class="font-semibold text-white">Join Our Community</h3>
              <p class="mt-2 text-gray-300">Join our community of developers (including the Noop team). Get help setting up an, or sharing interesting Noop projects!</p>
            </div>
          </a>
          <a href="https://github.com/noop-inc/documentation" class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-1 ring-inset ring-white/10">
            <div class="text-base leading-7">
              <h3 class="font-semibold text-white">Contribute to the Docs</h3>
              <p class="mt-2 text-gray-300">We try to write great docs, but we know they can always be better. Spot something off? Let us know!</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
