---
import Layout from '../../layouts/Layout.astro'
import TemplateList from '../../components/TemplateList.astro'
import Download from '../../components/Download.astro'
---

<Layout>

  <main class="lg:col-span-6 col-span-12" data-pagefind-body>
    <article>
      <header>
        <h3 class="text-xs font-mono uppercase text-fuchsia-500">
          Getting Started
        </h3>

        <h1 class="text-5xl pb-8 font-bold">
          Intro
        </h1>
      </header>

      <p class="mt-2  pb-8">
        Noop is a desktop and web application for running software locally and in the cloud.
      </p>






      <div class="pb-24">
        <div class="mx-auto max-w-7xl">

          <h2 class="text-xl font-bold text-white pb-8">Install Noop</h2>
          <div class="prose prose-invert text-white pb-8">

            <p>We believe local parity of cloud environments is essential to developer productivity. Everything that Noop can run in the cloud is also available in local development (without an internet connection).</p>


            <Download />
            
          </div>


          <h2 class="text-2xl font-bold leading-8 text-white pb-8">Bootstrap a Familiar Platform</h2>
          <p class="pb-8 text-gray-400">The Templates below can be launched from within Workshop with no additional setup. The associated guides can be used as a reference to migrate an existing app to Noop.</p>
          <TemplateList />
        </div>
      </div>

      
    </article>
  </main>

  
</Layout>
