
---
const docs = await Astro.glob('../pages/docs/*.md');


/* How is this sorted? */
const groupedDocs = docs.reduce((docs, object) => {
  const property = object.frontmatter.section;
  docs[property] = docs[property] || [];

  docs[property].push(object);

  return docs;
}, {});
---

<nav class="sticky top-[2.5rem] w-64 pr-8 text-base lg:text-sm">
  <ul role="list" class="-ml-0.5 h-[calc(100vh-4.5rem)] overflow-y-auto pl-0.5 space-y-8">
    {
    Object.entries(groupedDocs).map((section) => (
    <li>
      <h3 class="font-semibold tracking-tight">
        {section[0]}
      </h3>

      <ul role="list" class="pl-3 mt-3 space-y-2">
        {
        section[1].map((item) => (
        <li>
          <a href={item.url}>
            {item.frontmatter.title}
          </a>
        </li>
        ))
        }
      </ul>
    </li>
    ))
    }
  </ul>
</nav>


