---
import Search from "astro-pagefind/components/Search";
const {id} = Astro.props
---
<div>
  <Search id={id} className="pagefind-ui dark" uiOptions={{ showImages: false }} />
</div>

<style is:global>

 :root {
   --pagefind-ui-background: #334155;
   --pagefind-ui-primary: #eeeeee;
	 --pagefind-ui-text: #eeeeee;
	 --pagefind-ui-border: #334155;
	 --pagefind-ui-tag: #000;
 }


 .pagefind-ui__drawer {
   position: absolute;
   top: 75px;
   right: 0;
   left: 0;
 }

 .pagefind-ui__drawer {
   @apply bg-gray-900 p-6 rounded-lg border-red-600 border z-10;
 }

 .pagefind-ui__results-area {
   
 }
</style>
