

<div class="not-prose">
  <!-- <a href="" class="py-6 flex items-center justify-between border-b border-white/20">
       <div>
       <h2 class="font-bod">Nodejs with Vue and Amazon DynamoDB</h2>
       </div>
       <div class="lang-logo flex items-center ml-6">
       <img class="max-h-6 ml-2 block" src="/assets/docs/logos/node.svg" alt="NodeJS" height="24">
       <img class="max-h-6 ml-2 block" src="/assets/docs/logos/dynamodb.png" alt="Amazon DynamoDB" height="24">

       <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
       <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
       </svg>
       </div>
       </a> 
       <a href="" class="py-6 flex items-center justify-between border-b border-white/20">
       <div>
       <h2 class="">Go with Gin and MySQL</h2>
       </div>
       <div class="lang-logo flex items-center ml-6">

       
       <img class="max-h-6 ml-2" src="/assets/docs/logos/go.svg" alt="Golang" width="24" />
       <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
       <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
       </svg>
       </div>
       </a>  -->

  <a href="https://noop.dev/blog/launch-django-app/" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="">Python with Django and PostgreSQL</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">
      <img class="max-h-6 ml-2 block" src="/assets/docs/logos/python.svg" alt="Python Logo" height="24" width="24" />
      <img class="max-h-6 ml-2 block" src="/assets/docs/logos/django.svg" alt="Django Logo" height="24" />
      <img class="max-h-6 ml-2 block" src="/assets/docs/logos/postgres.png" alt="Postgres Logo" height="24" width="24" />
      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>

  <a href="https://noop.dev/blog/launch-rust-app/" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="">Rust with Actix and PostgreSQL</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">


      <img class="max-h-6 ml-2 " src="/assets/docs/logos/rust.svg" alt="Rust Lang Logo" height="24">
      <img class="max-h-6 ml-2 " src="/assets/docs/logos/actix.png" alt="Actix Framework" height="24">
      <img class="max-h-6 ml-2 " src="/assets/docs/logos/postgres.png" alt="Postgres" height="24">

      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>
  

  <a href="/blog/launch-astro-site/" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="">Static Site with Astro</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">

      <img class="max-h-6 ml-2" src="/assets/docs/logos/astro.svg" alt="Astro.build Logo" height="24">
      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>


  <a href="https://noop.dev/blog/launch-phoenix-app/" class="py-6 flex items-center justify-between border-b border-white/20">
    <div>
      <h2 class="">Elixir with Phoenix and Postgres</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">
      <img class="max-h-6 ml-2" src="/assets/docs/logos/elixir.png" alt="Elixir" height="24">
      <img class="max-h-6 ml-2" src="/assets/docs/logos/phoenix.png" alt="" height="24">
      <img class="max-h-6 ml-2" src="/assets/docs/logos/postgres.png" alt="" height="24">

      <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>


  <!-- <a href="" class="py-6 flex items-center justify-between border-b border-white/20">
       <div>
       <h2 class="">Java with SpringBoot and Postgres</h2>
       </div>
       <div class="lang-logo flex items-center ml-6">
       <img class="max-h-6 ml-2" src="/assets/docs/logos/java.png" alt="Java" width="24">
       <img class="max-h-6 ml-2" src="/assets/docs/logos/spring.svg" alt="Spring Boot" width="24">
       <img class="max-h-6 ml-2" src="/assets/docs/logos/postgres.png" alt="" width="24">
       <svg class="h-5 w-5 flex-none text-gray-400 ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
       <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
       </svg>
       </div>
       </a>
  -->

  <a href="https://github.com/orgs/noop-inc/discussions/new?category=feature-requests-and-ideas" class="py-6 flex items-center justify-between border-b border-white/20 text-lime-500">
    <div>
      <h2 class="">Suggest One</h2>
    </div>
    <div class="lang-logo flex items-center ml-6">
      <svg class="h-5 w-5 flex-none ml-4 block" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </a>

</div>

<style>
 .lang-logo img {
   filter: invert(1) grayscale(100);
 }
</style>
